:root {
	--primary-color: #263441;
	--light-color: #86939f;
	--color-footer: #576777;
	--onMouseover: #fff
}

.bg-primary {
	background-color: #242832 !important;
}

body {
	background-color: #17181c;
	font-size: 12pt !important;
	font-family: Roboto, sans-serif;
	color: #c7c7c7;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 250px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
	background-color: #2c3440;
	padding-top: 10px;
}

.navbar {
	min-height: 70px;
}

.nav-link {
	font-size: 20px;
	color: var(--light-color);
	font-weight: bold;
	padding: 0px 8px;
}

.nav-link:hover {
	color: var(--onMouseover) !important;
}

.navbar-brand {
	color: var(--light-color) !important;
}

.dropdown-menu {
	background-color: var(--light-color) !important;
}

.dropdown-item:hover {
	background-color: var(--primary-color);
	color: var(--onMouseover);
}

.poster-secction .poster-serie img {
	height: 350px;
	width: 100%;
}

.poster-serie img {
	height: 350px;
	width: 100%;
}

.poster-secction .poster-peli img {
	height: 350px;
}

.poster-secction .col {
	font-weight: bold;
	font-size: 40px;
}

.poster-secction .col img {
	height: 60px;
}

.tags-secction .col-2 {
	background-color: #17181c;
	font-size: 15px;
}

.tags-secction .col-2 border {
	background-color: #17181c;
	color: var(--onMouseover);
}

.tags-secction a {
	text-decoration: none;
	color: #c7c7c7;
}

.reviews .col-12 {
	background-color: var(--primary-color);
	padding: 150px;
}

.reviews .col-12 p {
	font-size: 25px;
}

.formulario-registro {
	margin-top: 35px;
}

.form-group {
	font-size: 15px;
}

.tipo {
	margin-top: 4px;
}

.marco-poster-registro {
	margin-top: 3px;
	display: flex;
	width: 375px;
	align-content: center;
	height: 450px;
	border: 5px solid #121212;
	background-position: center;
	background-size: cover;
	background-color: #E1DEDE;
}

#botonDeregistroPeliSerieVideojuego {
	background-color: #ea377a !important;
	border: none;
	font-size: 22px;
}
#botonDeregistroPeliSerieVideojuego:hover {
	background-color: #b02a5c !important;
}

#datosLista{
	display: inline-block;
}

.column1 h4 {
	font-size: 12pt;
	background-color: #2c3440;
}

.column1 .social {
	justify-content: center;
	background-color: #2c3440;
	text-decoration: none;
	list-style: none;
	margin-top: 10px;
	display: flex;
}

.item i {
	width: 50px;
	height: 30px;
	font-size: 40px;
}

.footer a:hover {
	color: var(--onMouseover);
}

.footer a {
	text-decoration: none;
	color: #c7c7c7;
}

.footer-copyright {
	background-color: #2c3440;
	color: var(--primary-color);
}

.enlaceDeCopy {
	color: var(--primary-color);
}

.enlaceDeCopy:hover {
	color: var(--onMouseover);
}

.table-borderless a {
	color: #9ab;
	width: 100px;
}

.table-borderless img {
	width: 225px;
	height: 350px;
	border-radius: 5px;
	transition: 1s;
}

.table-borderless img:hover {
	transform: scale(0.9);
}

.table-borderless td {
	vertical-align: middle;
	text-align: center;
	padding: 0px 10px;
}

.login {
	width: 400px;
}

.boton-nav {
	font-size: 20px;
	color: var(--light-color);
	margin: 0em 1em;
}

.search {
	padding: 4px 20px;
	font-size: 18px;
	border-radius: 20px;
	margin-right: 10px;
}

.search:focus {
	outline: none;
}

.foto-perfil img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.biografia {
	padding-left: 10px;
}

.portada img {
	width: 200px;
	height: 300px;
	border: 1px solid #badefc;
	border-radius: 5px;
}

.poster-pelicula img {
	height: 300px;
}

.button-agregarfavs{
	background-color: #ea377a !important;
	border: none;	
}

.button-agregarfavs:hover {
	background-color: #b02a5c !important;
}

.comentario {
	display: flex;
	flex-wrap: nowrap;
	width: 70%;
	margin: 1em auto;
	justify-content: flex-start;
	padding-bottom: 10px;
	border-bottom: 1px solid #badefc;
}

.comentario img {
	width: 15%;
}

.comentario h1{
	font-size: 25px;
	font-weight: bold;
	color: #9ab;
	padding: 20px 0px;
}

