:root { 
	--primary-color: #263441;
	--light-color: #86939f; 
	--color-footer: #576777; 
	--onMouseover: #fff
}

.bg-primary {
	background-color: var(--primary-color) !important;
}

body {
	background-color: #17181c;
	font-size: 12pt !important;
	color: #c7c7c7;
}


.navbar {
	min-height: 60px;
}

.nav-link {
	color: var(--light-color);
	font-weight: bold;
}

.nav-link:hover {
	color: var(--onMouseover) !important;
	
}

.navbar-brand {
	color: var(--light-color) !important;
}

.dropdown-menu {
	background-color: var(--light-color) !important;
}
.dropdown-item:hover{
background-color: var(--primary-color);
color:var(--onMouseover);

}
.poster-secction .col-2 img{
 height:350px;
/*  margin-right:50px;
 */}
.poster-secction .col {
	font-weight: bold;
	font-size:40px;
}
.poster-secction .col img {
height:60px;
}

.tags-secction .col-2 {
	background-color: #17181c;
	font-size: 15px;
}

.tags-secction .col-2 border {
	background-color: #17181c;
	color: var(--onMouseover);
}
.tags-secction a{
	text-decoration: none;
		color: #c7c7c7;

}

.reviews .col-12 {
	background-color: var(--primary-color);
	padding: 150px;
}

.reviews .col-12 p {
	font-size: 25px;
}
.formulario-registro{
	margin-top:50px;
	padding: 50px;
	background-color: var(--primary-color);
	}
	
.formulario-registro p{	
	font-size:30px;
	color: #9ab;
	font-weight: bold;
    text-align:left	
}
.form-group{
		font-size:15px;
}
.tipo{
margin-top:4px;
	}
	
.marco-poster-registro{
	margin-top:3px;
	display:flex;
	width:375px;
    align-content:center;
	height:450px;
	border:5px solid #121212;
	background-position:center;
	background-size:cover; 
	background-color:#E1DEDE;
	
}

.footer {
	grid-area: footer;
	background-color: var(--color-footer);
	margin-top: 50px;
}

.column1 h4 {
	font-size: 12pt;
	color: #B0BFCB;
}

.column1 .social {
	color: #c7c7c7;
	text-decoration: none;
	list-style: none;
	margin-top: 10px;
	display: flex;
}

.item i {
	width: 50px;
	height: 30px;
	font-size: 40px;
}

.footer a:hover {
	color: var(--onMouseover);
}

.footer a {
	text-decoration: none;
	color: #c7c7c7;
}

.footer-copyright {
	background-color: #576777;
	color: var(--primary-color);
}

.enlaceDeCopy {
	color: var(--primary-color);
}

.enlaceDeCopy:hover {
	color: var(--onMouseover);
}