@charset "ISO-8859-1";
h4{
  margin-left:30%;  
	
	}
.comentario{
	display: flex;
	flex-wrap: nowrap;
	width: 70%;
	margin: 1em auto;
	justify-content: flex-start;
	padding-bottom: 10px;
    border-bottom: 1px solid #badefc;
}
.comentario img{
	width: 15%;
}
.comentario p{
	width: 100%;
	padding: 10px 30px;
	margin-bottom: 0;
	color: #badefc;
}
.verMasLista{
	display: flex;
    margin-left: auto;
    font-size: initial;
    color:#ea377a;
}
.verMasLista:hover{
    color:#8F214A;
}
.noHayFav{
	color:#badefc;
    text-align: center;
    font-size: 1.15rem;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0px 0 -250px;
}

.texto{
	margin-left: 2em;
	font-size: 15px;
}
.portada{
	height: 150px;
}
.portada img{
    width: 100%;
}
.descripcion{
	width: 100%;
}