@charset "ISO-8859-1";

a:hover{
	text-decoration: none;
}

h3 {
	margin-bottom: 1em;
}

h4 {
	/*margin-left: 10%;*/
	margin-left: 32%;

}

.comentario {
	display: flex;
	flex-wrap: nowrap;
	width: 70%;
	margin: 1em auto;
	justify-content: flex-start;
	padding-bottom: 10px;
	border-bottom: 1px solid #badefc;
}

.comentario img {
	width: 15%;
}

.comentario h1{
	font-size: 25px;
	font-weight: bold;
	color: #9ab;
	padding: 20px 0px;
}


.comentario p {
	width: 100%;
	padding: 10px 30px;
	margin-bottom: 0;
	color: #badefc;
}

.verMasLista {
	display: flex;
	margin-left: auto;
	font-size: initial;
	color: #ea377a;
}

.verMasLista:hover {
	color: #8F214A;
}
.MSGNoHayActividad{
	color: #badefc;
	text-align: center;
	
}

.noHayFav {
	color: #badefc;
	text-align: center;
	font-size: 1.15rem;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 47%;
	margin: -25px 0px 0 -250px;
}

.texto {
	margin-left: 2em;
	font-size: 15px;
}

.portada {
	height: 150px;
}

.portada img {
	width: 100%;
}

.descripcion {
	position: relative;
	width: 100%;
}

.descripcion h4{
	margin: 0em 1em;
}

.botones {
	position: absolute;
    bottom: 0;
    right: 0;
   	color: white;
}

.tituloReview {
	color: #badefc;
}
.tituloReview:hover{
	color: #badefc;
}

.amigos{
	width: 50%;
    background-color: #242832 !important;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    color: #badefc;
    font-weight: bold;
}

.agregar{
	margin: 10px 0px 0px 0px;
}

.solicitud{
	color: #ea377a; 
	margin: 10px 0px 0px 0px;
}

.opciones a{
	margin: 1em;
}
