@charset "ISO-8859-1";
main{
	margin: 4em 0em;
}

h2{
	font-size: 40px;
	font-weight: 700;
	color: #fff;
	font-family: Roboto,sans-serif!important;
	text-align: left;	
	margin-bottom: 1em;
}

h3{
	text-align: center;
	margin: 1em 0em;
}

.container{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.sinopsis{
	margin-right: 2em;
    margin-top: 1em;
  	font-family: Open Sans,sans-serif;
    color: #badefc;
    line-height: 1.5
}

.centro{
	padding: 0em 2em;
}

.reviews{
	background-color: #263441;
	height: 300px;
	margin: 0px 362px;
	padding: 1px 15px;
	border-radius: 10px;
}

.requisitos{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.requisito{
	padding: 1em;
}
 
.requisitos div{
	width: 45%;
} 

.contenedor-requisitos{
	margin: 0px 362px;
	padding: 0px 15px;
}