@charset "ISO-8859-1";

.rounded, .drawer {
	color: black;
}

h2 {
	font-size: 30px;
	color: #9ab;
	font-weight: bold;
	text-align: center;
	margin: 1em 0em;
}

h3 {
	color: #fff;
}

input {
	padding: 5px;
}

.container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.left {
	width: 40%;
}

.right {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.formulario form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.campos {
	border-radius: 10px;
	width: 90%;
	margin: 1em 0em;
	padding: 2em 2em;
	background-color: #242832 !important;
}

.detalle {
	border: 2px solid;
	border-radius: 10px;
	width: 100%;
	margin: 1em 0em;
	padding: 2em 2em;
	background-color: #242832 !important;
}

.requisitos, .separacion {
	display: flex;
	flex-wrap: nowrap;
}

.requisitos div {
	text-align: center;
	width: 50%;
}

label {
	display: block;
	font-size: 20px;
	margin: 5px;
}

input, textarea {
	border-radius: 5px;
}

button {
	margin: 1em 0em;
	display: block;
	background-color: #ea377a;
	font-size: 20px;
	color: white;
	padding: 10px;
	border-radius: 10px;
	border: none;
}

textarea {
	padding: 10px;
	height: 150px;
	width: 90%;
}

.error{
	margin-top: 1em;
	text-align: center;
}

.error span{
	color: red;
}

.error-banner{
	background-color: red;
	color: #fff;
}