@charset "ISO-8859-1";
h2{
 	font-size: 30px;
    color: #9ab;
    font-weight: bold;
    text-align: center;
    margin: 1em 0em;
}

label{
	display: block;
    font-size: 20px;
    margin: 5px;
}

.form-group{
	background-color: #242832 !important;
    padding: 2em;
    border-radius: 10px;
}

.mult-select-tag{
	color: black;
}