@charset "ISO-8859-1";

.formulario{
	margin: 2em 20em;
	padding: 2em 5em;
	background-color: var(--primary-color) !important;
}

.formulario form{
	display: flex;
	flex-wrap: nowrap;
}

div{
	width: 50%;
}

label{
	display: block;
	font-size: 20px;
}

input, textarea{
	border-radius: 5px;
}

button{
	display: block;
}


