@charset "ISO-8859-1";

a:hover{
	text-decoration: none;
}

h3 {
	color: #fff;
}

h4 {
	margin-top: 10px;
}

.comentario {
	display: flex;
	flex-wrap: nowrap;
	width: 80%;
	margin: 1em auto;
	justify-content: flex-start;
	padding-bottom: 10px;
}

.comentario img , .comentario-review img{
	width: 80%;
}

.comentario p {
	width: 100%;
	margin-bottom: 0;
	color: #badefc;
}

.texto {
	margin-left: 2em;
	font-size: 15px;
}

.portada {
	height: 150px;
}

.portada img {
	width: 100%;
}

.descripcion {
	margin-left: 1em;
	width: 100%;
}

.botones{
	position: absolute;
	bottom: 0;
	right: 0;
}

img{
	border-radius: 5px;
}

.top{
	margin-top: 3em;
}

.form-comentario{
	margin-top: 1em;
	text-align: center;
}

textarea{
	display: block;
	width: 70%;
	background-color: #30394c;
    border: 1px solid #30394c;
    height: 9em;
    border-radius: 5px;
    padding: 10px;
    color: #cbd4dc;
}

.comentario-review{
	display: flex;
	flex-wrap: nowrap;
	width: 672px;
	margin: 1em auto;
	padding-bottom: 10px;
	border-bottom: 1px solid #badefc;
}

.comentario-review a{
	width: 100px;
	color: #badefc;
}


.flex-review{
	flex-wrap: nowrap;
	width: 100%;
	margin: 1em auto;
}

.flex-review a{
	color: #badefc;
}

.flex-review a:hover{
	color: #badefc;
}

.edit-desc{
	margin: 0;
	height: 10em;
}

.datosreview{
	width: 100%;
    position: relative;
}
