.flexbox-topnav {
	background-color: #2c3440;
	padding: 20px 120px 20px 120px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.flexbox-topnav a {
	font-size: 20px;
	padding: 0px 20px 0px 20px;
	color: #9ab;
	text-decoration: none;
}

.logo {
	margin-left: auto;
}

body {
	background-color: #16181c;
}

.boton-container {
	margin: 0 auto;
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.boton {
	position: relative;
	width: 250px;
	height: 250px;
	align-items: center;
	justify-content: center;
	border-radius: 120px;
}

.boton h2 {
	font-size: 50px;
	font-weight: bold;
}

.boton p {
	font-size: 25px;
}

.recomendaciones-container h1 {
	font-size: 25px;
	font-weight: bold;
	color: #9ab;
	padding: 20px 0px;
}

.recomendaciones-container {
	margin: 30px 0px;
	padding: 5px 30px;
	background: #242832 !important;
	width: 100%;
	height: 500px;
	border-radius: 20px;
}

.favPerfil-container h1 {
	font-size: 25px;
	font-weight: bold;
	color: #9ab;
	padding: 15px 0px;
	display: flex;
}

.favPerfil-container {
	padding: 5px 30px;
	background: #242832 !important;;
	border-radius: 20px;
}

.flex-container {
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.flex-container a {
	background-color: grey;
	text-decoration: none;
	height: 370px;
	width: 230px;
	text-align: center;
	border-radius: 20px;
}

.usuario-container img {
	width: 200px;
	height: 200px;
	border-radius: 8px;
}

.usuario-container .usuarioImagen {
	margin-top: 5px;
}

.time {
	text-align: center;
	border-radius: 20px;
}

.flex-container a img {
	height: 370px;
	width: 230px;
	border-radius: 20px;
}

.usuario-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	margin: 30px 0px;
}

.time {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	display: block;
}

.time-form {
	display: flex;
	justify-content: space-around;
}

.btn {
	background-color: #ea377a !important;
	border-color: #ea377a;
	margin: auto;
}

.btn:hover {
	border-color: #ea377a;
}

.register {
	text-align: center;
	color: #cbd4dc;
	font-weight: 600;
	font-family: Roboto, sans-serif;
}

h3 {
	font-size: 38px;
}

.titulo {
	font-size: 18px;
	margin: 1em 0em;
}

.empezar {
	position: absolute;
	bottom: 10%;
	background-color: #ea377a;
	border: none;
	font-size: 25px;
	padding: 5px;
	border-radius: 20px;
	color: #fff;
}

.tipos {
	text-align: center;
}

.form-tiempo {
	width: 25%;
	padding: 20px;
	background-color: #242832 !important;
}

.horas {
	font-size: 20px;
	padding: 10px;
	width: 30%;
	text-align: center;
	margin-top: 1em;
	border-radius: 20px;
}

.error{
	margin-top: 1em;
	text-align: center;
}

.error span{
	color: red;
}

/* .imagen-fav{
	width: 150px;
} */